html{
  width: 100%;
  height: 100%;
}

body{
  background-color:#faf8f5;
  width: 100%;
  height: 100%;
}
footer{
  position: fixed;
  width:100%;
  height:56px;
  bottom: 0;
  text-align:center;
  z-index: 1000;
}
